$rainy: #4B799E;
$sunny: #FFEAAD;
$cloudy: #E1E1E1;
$snowy: #E1E1E1;
$night: #666;

$high: rgba(255,246,240,0.8);
$low: rgba(255,255,255,1);
$precip: #D0F0FF;

@mixin caps($sz, $spacing: 4px) {
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: $spacing;
  font-size: $sz;
  text-transform: uppercase;
  text-align: center;
}

#chart {
  text.highlow {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  text.temp {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
}
#chart:hover {
  text.highlow {
    opacity: 1!important;
  }
  text.temp {
    opacity: 0!important;
  }
}

rect.low{
  fill: $low;
}
rect.high {
  fill: $high;
}
rect.precip {
  fill: $precip;
}
text.temp, text.precip, text.highlow {
  @include caps(14px, 0);
  fill: rgba(0,0,0,0.6);
  text-anchor: middle;
  alignment-baseline: central;
}
text.date {
  @include caps(14px, 0);
  fill: rgba(0,0,0,0.6);
  text-anchor: middle;
  alignment-baseline: baseline;
}

html, body {
  width:100%;
  height:100%;
  margin:0;
}

#card.snowy {
  background-color: $snowy;
}
#card.sunny {
  background-color: $sunny;
}
#card.cloudy {
  background-color: $cloudy;
}
#card.rainy {
  background-color: $rainy;
}
#card.night {
  background-color: $night;
}

#main {
  width:512px;
  // height:768px;
  position: absolute;
  left:0;
  right:0;
  // bottom:0;
  top:0;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin:auto;

  #card {
    height: 512px;
    width: 512px;
    padding: 30px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;

    #condition {
      @include caps(24px);
      color: rgba(0,0,0,0.6);
      flex: 1;
    }

    #temperature {
      @include caps(72px);
      color: rgba(0,0,0,0.6);
      padding: 0;
      flex:1;
    }

    #chart {
      width: 100%;
      flex: 5;
    }
  }

  #more {
    &, * {
      cursor: pointer;
    }
    transition: height 0.5s ease-in;
    &.collapsed {
      height: 30px!important;
      box-shadow: inset 0px 25px 30px -25px;
      * {
        display: none;
      }
    }
    &:not(.collapsed) {
      // height: 256px;
      box-shadow: inset 0px 10px 12px -10px;

      padding: 40px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      div {
        flex: 1;
        line-height: 2;
        #windtxt, #feelsliketxt, #humiditytxt {
          float: left;
          font-family: Roboto;
          font-weight: 300;
          font-size: 24px;
          color: rgba(0,0,0,0.6);
        }
        #windval, #feelslikeval, #humidityval {
          float: right;
          font-family: Roboto;
          font-weight: 300;
          font-size: 24px;
          color: rgba(0,0,0,0.6);
        }

      }
    }
  }

}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  cursor: default;
  box-sizing:  border-box;
}

body.notready {
  display:none!important;
}
