$rainy: #43ABD4;
$sunny: #FFEAAD;
$cloudy: #E1E1E1;
$snowy: #E1E1E1;
$night: #999999;

$high: rgba(255,246,240,0.8);
$low: rgba(255,255,255,1);
$precip: #D0F0FF;

@mixin caps($sz, $spacing: 4px) {
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: $spacing;
  font-size: $sz;
  text-transform: uppercase;
  text-align: center;
}

rect.low{
  fill: $low;
}
rect.high {
  fill: $high;
}
rect.precip {
  fill: $precip;
}
text.temp, text.precip {
  @include caps(14px, 0);
  fill: rgba(0,0,0,0.6);
  text-anchor: middle;
  alignment-baseline: central;
}
text.date {
  @include caps(14px, 0);
  fill: rgba(0,0,0,0.6);
  text-anchor: middle;
  alignment-baseline: baseline;
}

html, body {
  width:100%;
  height:100%;
  margin:0;
}

#card.snowy {
  background-color: $snowy;
}
#card.sunny {
  background-color: $sunny;
}
#card.cloudy {
  background-color: $cloudy;
}
#card.rainy {
  background-color: $rainy;
}
#card.night {
  background-color: $night;
}

#main {
  width:572px;
  height:572px;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin:auto;

  #card {
    height: 512px;
    width: 512px;
    padding: 30px;



    display:flex;
    flex-direction: column;

    #condition {
      @include caps(24px);
      color: rgba(0,0,0,0.6);
      flex: 1;
    }

    #temperature {
      @include caps(72px);
      color: rgba(0,0,0,0.6);
      padding: 15px;
      flex:1;
    }

    #chart {
      width: 100%;
      flex: 4;
    }
  }
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  cursor: default;
}
